@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom primitives */
:root {
  --brand: #64ffda;
}

.focus-ring {
  @apply outline-none ring-2 ring-brand-500/60;
}

/* Nice animated underline for links */
.link-underline {
  position: relative;
}
.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
  opacity: .6;
}
.link-underline:hover::after {
  transform: scaleX(1);
}
